.product-category {
  margin: 60px 0;
  padding: 20px;
}

.product-category2 {
  margin: -80px 0 60px;
}

.category-title {
  font-weight: 700;
}

.main-content.shop {
  margin: 0;
  position: absolute;
  left: 0;
  right: 0;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 2px -5px 33px -14px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 2px -5px 33px -14px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 2px -5px 33px -14px rgba(0, 0, 0, 0.1);
  font-size: .85rem;
}

.shop-product {
  margin: 0 0 130px;
  height: 450px;
}