.main-content.home {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position: relative; */
}

.headline h1 {
  font-weight: 700;
  font-size: 3.3rem;
  min-width: 350px;
  width: 80%;
}

.headline p {
  min-width: 30%;
}

.ps-pad {
  max-width: 30%;
  min-width: 300px;
  animation: bounce 2s ease-in-out;
  animation-fill-mode: both;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(-10px);
  }

  50% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(0px);
  }
}

.shop-btn {
  margin-top: 20px;
  padding: 10px 15px;
  width: 120px;
}

.shop-btn:hover {
  background-color: #fd2a4d;
  color: #fff;
}

/* Martins */
.grd{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
}
.picture{
  display: grid;
  justify-items: center;
  border-radius: 50%;
  width: 200px;
  height:200px;
}
.txt{
  display: grid;
  justify-items: center;
}

@media (max-width: 768px) {
  .headline h1 {
    font-size: 2.2rem;
  }

  .headline p {
    font-size: 0.9rem;
    text-align: center;
  }
}

@media (max-width: 992px) {
  .ps-pad {
    display: none;
  }

  .headline h1 {
    font-size: 2.4rem;
    text-align: center;
  }

  .headline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main-content.home {
    margin-top: 10px;
  }
}

@media (max-width: 576px) {
  .headline {
    padding: 10px;
  }
}
