.product-description {
    font-size: .8rem;
}

.product-card {
    cursor: pointer;
    transition: transform .5s ease-in-out !important;
    position: relative;
    z-index: 5 !important;
}

.product-card:hover {
    /* transform: scale(1.05) !important; */
}

.product-image {
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.product-card > a {
    height: 100%;
    width: 100%;
}