.container-fluid {
  padding: 10px 20px;
}

.logo {
  width: 50px;
}

.profile-icon, .cart-icon {
  font-size: 1.3rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: 2px 10px 33px -14px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 2px 10px 33px -14px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 2px 10px 33px -14px rgba(0, 0, 0, 0.1);
}

ul.nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  list-style: none;
  margin-bottom: 0 !important;
}

ul li a {
  transition: color 0.2s ease-in-out;
}

ul li a:hover {
  color: #ff385c;
}

.nav-link {
  color: black;
  text-decoration: none;
  font-size: .85rem;
}

.menu {
  position: relative;
}

.mobile-nav {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 20;
  color: #fff;
  width: 82%;
  background-color: #000;
  height: 100vh;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  transition: all 0.5s ease-in-out;
}

.mobile-nav ul {
  margin: 50px 0;
}

.mobile-nav ul li {
  list-style-type: none;
  margin: 40px;
}

.mobile-nav-link {
  color: #fff;
}

#menu-button p {
  position: relative;
  z-index: 21;
  background-color: #000;
  height: 3px;
  cursor: pointer;
  width: 28px;
  margin: 2px 0 0;
}

#menu-button p::before,
#menu-button p::after {
  content: "";
  height: 3px;
  width: 22px;
  background-color: #000;
  position: absolute;
  transition: all 0.2s ease-in-out;
}

#menu-button p::before {
  top: -6px;
}

#menu-button p::after {
  top: 6px;
}

#toggle:checked ~ #menu-button p:before {
  transform: rotate(45deg);
  top: 0;
}

#toggle:checked ~ #menu-button p:after {
  transform: rotate(-45deg);
  top: 0px;
}

#toggle:checked ~ #menu-button > p {
  background-color: #000;
}

#toggle:checked ~ #menu-button > p::after {
  background-color: #fff;
}

#toggle:checked ~ #menu-button > p::before {
  background-color: #fff;
}

#toggle:checked .mobile-nav {
  display: flex;
}

#toggle {
  display: none;
  position: relative;
  z-index: 90;
}

@media (max-width: 992px) {
  ul.nav-items {
    width: 45%;
  }

  .container {
    padding: 15px 50px;
  }
}

@media (min-width: 768px) {
  .menu,
  .mobile-nav {
    display: none;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 15px 50px;
  }

  ul.nav-items {
    display: none;
  }
}

@media (max-width: 576px) {
  .nav {
    padding: 5px;
  }
}

@media (max-width: 1030px) {
  ul.nav-items {
    display: none;
  }

  .menu {
    display: flex !important;
  }
}